pytest
psycopg2
psycopg2-binary
python-dotenv
django
django-rest-auth
djangorestframework
django-enumfields
drf-enum-field
requests
redis
celery
django-celery-beat
gunicorn
factory_boy
django-rest-swagger
whitenoise