{% extends 'prime/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="probootstrap-section">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 mb40">
              <h1>Sign up</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Sign up">
                </form>
            </div>
          </div>
        </div>
    </div>
{% endblock %}