{% extends 'prime/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="probootstrap-section">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 mb40">
              <h2>Hi {{ user.username }} !</h2>
              <p>Your email : {{user.email}}</p>
            </div>
          </div>
        </div>
    </div>
    <div>
    <div class="container text-center">
            <h1>List of alerts</h1>
            <p><a href="{% url 'prime:alerts_create' %}" class="btn btn-primary">Create a new alert</a></p>
            {% for alert in alerts %}
            {% if alert.type|lower == 'increase' or alert.type|lower == 'decrease' %}
                <h2>{{alert.crypto}} {{alert.type|lower}} more than {{alert.value}}% starting at {{alert.time_range}}</h2>
            {% else %}
                <h2>{{alert.crypto}} go {{alert.type|lower}} {{alert.value}}$</h2>
            {% endif %}
            <span><a href="{% url 'prime:alerts_delete' pk=alert.id %}"class="btn btn-primary">delete</a></span>
            {% endfor %}
    </div>


    </div>

{% else %}
    <div class="probootstrap-section">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 mb40">
              <h2>Welcome on CryptoAPI by Alain BERRIER</h2>
                <p>This API will help you create alerts on cryptocurrencies when they go above or below a certain point.</p>
                <p>You can even know if a cryptocurrency increased or decrease of a certain percentage.</p>
                <p>All alerts will be sent by email.</p>
                <p><strong>Start now by creating an account !</strong></p>
            </div>
          </div>
        </div>
    </div>
{% endif %}
{% endblock %}